<% include ./header %>


<div class="container  ">
      <div class="row  sq_border">
       <!--==================  列 1 ======================= -->
         <div class="col-md-4 col-xs-12">
              <!--  轮换图  -->
                <div id="myCarousel" class="carousel slide">
                     <div class="carousel-inner">
                          <div class="item active">
                              <img src="/chao/img/banner.jpg" alt="">
                              <div class="sq_p">
                                 <h5>即使杀光所有报晓的公鸡，天，还是会亮的</h5>
                              </div>
                          </div>
                          <div class="item">
                             <img src="/chao/img/banner2.jpg" alt="">
                             <div class="sq_p">
                               <h5>如果人民不欢迎我们，就该我们下台了</h5>
                            </div>
                         </div>
                          <div class="item">
                             <img src="/chao/img/banner2.jpg" alt="">
                             <div class="sq_p">
                               <h5>如果人民不欢迎我们，就该我们下台了</h5>
                            </div>
                         </div>
                    </div>
                    <a class="left carousel-control" href="http://wrongwaycn.github.io/bootstrap/docs/javascript.html#myCarousel" data-slide="prev"></a>
                   <a class="right carousel-control" href="http://wrongwaycn.github.io/bootstrap/docs/javascript.html#myCarousel" data-slide="next"></a>
              </div>
           
         </div>
         
         <!--==================  列 2 ======================= -->
         <div class="col-md-4 col-xs-12">
            
             <h4 class="sq_yzrt"><strong>一周热帖</strong></h4>
             <ul class="sq_yzrt_ul">
                 <li class="sq_yzrt_ul_li">
                
                     <div class="media"  style="height:80px">
                       <a class="pull-left" href="#" >
                          <img class="media-object" src="/chao/img/sq_yzrt_tu.jpg"  width="100" height="76">
                       </a>
                       <div class="media-body">
                          <a href="shequneiye.html"><h5 class="media-heading" style="border-bottom:#dedfe0 1px solid; color:#000000; line-height:1.5"><strong>午后一杯咖啡</strong></h5></a>
                            <span  style="font-size:12px">午后一杯咖啡，听听音乐。让我们认真的消磨时光午后一杯咖啡，听听音乐</span>
                       </div>
                </div>
                <!--  活动内容结束 -->
                                       
                 </li>
                  <li class=" sq_yzrt_ul_li1">【热门活动】<a href="shequneiye.html"> 即使杀光所有报晓的公鸡，天，还是会亮的</a></li>
                  <li class=" sq_yzrt_ul_li1">【热门活动】<a href="shequneiye.html"> 即使杀光所有报晓的公鸡，天，还是会亮的</a></li>
                  <li class=" sq_yzrt_ul_li1">【热门活动】<a href="shequneiye.html"> 即使杀光所有报晓的公鸡，天，还是会亮的</a></li>
                  <li class=" sq_yzrt_ul_li1">【热门活动】<a href="shequneiye.html"> 即使杀光所有报晓的公鸡，天，还是会亮的</a></li>
             </ul>
         </div>
         <!--==================  列 3 ======================= -->
         <div class="col-md-4 col-xs-12">
              <div style="background: #f8fcff ">
                   <a href="video.html"><img src="/chao/img/sq_zxhd.gif" style="margin-top:12px"></a>
                    <ul style=" margin-top:15px">
              
                     <li class=" sq_yzrt_ul_li1">【视频教程】<a href="video.html"> 即使杀光所有报晓的公鸡，天，还是会亮的</a></li>
                     <li class=" sq_yzrt_ul_li1">【视频教程】<a href="video.html"> 即使杀光所有报晓的公鸡，天，还是会亮的</a></li>
                   
                   
                  </ul>
              </div>
         </div>
        <!--==================  列完  ======================= -->
      </div>
      <!--================== row完 ======================= -->
   </div>

 <div class="height15"></div>

   <div class="container" style="background:#FFFFFF; padding-top:10px" >
    <p style="float:left; font-size:16px; font-weight:bold"><img src="/chao/img/sq_sucai.gif">【素材专区】</p><p style="float:right" class="font12"><a href="/bbs/list/sucai">查看更多>></a></p>
       <div class="row sq_border_sc"  >
          <div class="col-md-12">     
          
         <table class="table table-condensed" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #CCCCCC; font-size:12px">
          <tbody>
             <tr>
                <td width="65%" style=" vertical-align:middle" ><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a> <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%">
                  <div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div>
               </td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
            
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a> <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%">
                     <div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div>
               </td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
           
           
           
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a>  <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%"><div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div></td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
            
            
            
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a>  <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%"><div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div></td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
           
          </tbody>
      
      </table>
                
            
           </div>
       </div>
   
   </div>
   <div class="height15"></div>
     <!--================== 素材 ======================= -->
   
   <div class="container" style="background:#FFFFFF; padding-top:10px" >
    <p style="float:left; font-size:16px; font-weight:bold"><img src="/chao/img/sq_sucai.gif">【交流讨论】</p><p style="float:right" class="font12"><a href="/bbs/list/jiaoliu">查看更多>></a></p>
       <div class="row sq_border_sc"  >
          <div class="col-md-12">     
          
            <table class="table table-condensed" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #CCCCCC; font-size:12px">
          <tbody>
             <tr>
                <td width="65%" style=" vertical-align:middle" ><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a> <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%">
                  <div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div>
               </td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
            
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a> <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%">
                     <div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div>
               </td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
           
           
           
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a>  <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%"><div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div></td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
            
            
            
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a>  <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%"><div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div></td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
           
          </tbody>
      
      </table>
                
            
           </div>
       </div>
   
   </div>
   <div class="height15"></div>
    <!--================== 交流讨论 ======================= -->
       <div class="container" style="background:#FFFFFF; padding-top:10px" >
    <p style="float:left; font-size:16px; font-weight:bold"><img src="/chao/img/sq_sucai.gif">【求勾搭】</p><p style="float:right" class="font12"><a href="/bbs/list/gouda">查看更多>></a></p>
       <div class="row sq_border_sc"  >
          <div class="col-md-12">     
          
           <table class="table table-condensed" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #CCCCCC; font-size:12px">
          <tbody>
             <tr>
                <td width="65%" style=" vertical-align:middle" ><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a> <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%">
                  <div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div>
               </td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
            
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a> <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%">
                     <div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div>
               </td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
           
           
           
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a>  <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%"><div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div></td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
            
            
            
             <tr>
                <td width="65%"  style=" vertical-align:middle"><img src="/chao/img/sq_sucia_biao.gif"> <a href="shequneiye.html">杀光所有报晓的公鸡，天，还是会亮</a>  <img src="/chao/img/sq_sucai_jing.gif" width="21" height="14"></td>
               <td width="13%"><div class="media">
                         <a class="pull-left" href="#">
                            <img class="media-object" src="/chao/img/home.gif" 
                            alt="媒体对象">
                         </a>
                         <div class="media-body">
                            <h6 class="media-heading"><a  href="base.html">用户名</a></h6>
                             <span class="font10">2015-04-04</span>
                         </div>
                      </div></td>
               <td width="10%"><a href="#" >16</a><br><em span class="font10">264</em></td>
               <td width="12%"><span class="font12">回复用户名</span><br><span class="font10">2015-04-04</span></td>
            </tr>
           
          </tbody>
      
      </table>
                
            
           </div>
       </div>
   
   </div>
   
   
    <!--================== 勾搭======================= -->

    <div class="height30"></div>

<% include ./footer %>
