<% include ./header %>

<script type="text/javascript" src="/chao/ckeditor/ckeditor.js"></script>
   <div class="container">
     <p ><img src="/chao/img/hometb.gif"> <a href="index.html" class="font12"> 首页</a>-><a href="bbs.html" class="font12">社区</a>-><a href="post.html" class="font12">发帖</a></p>
        <p> <img src="/chao/img/jzgs.gif"></p>
        
   
   <div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">发帖</a></li>
   
  </ul>
  </div>
   <div class="height15"></div>
       <div style="width:920px;">
           <form>
               <div class="form-group">
                   <label for="exampleInputTitle">文章标题</label>
                   <input name="title" type="text" class="form-control" id="exampleInputTitle" placeholder="请输入文章标题" required="true">
               </div>
               <div class="form-group">
                   <label for="TextArea1">文章内容</label>

                   <textarea name="content" id="TextArea1"  class="ckeditor"></textarea>
                   <script type="text/javascript">
                       CKEDITOR.replace('TextArea1');</script>
               </div>
               <div class="form-group">
                   <label for="exampleInputFile">File input</label>
                   <input type="file" id="exampleInputFile">
                   <p class="help-block">Example block-level help text here.</p>
               </div>
               <div class="checkbox">
                   <label>
                       <input type="checkbox"> Check me out
                   </label>
               </div>
               <span style="float:left"> <button type="submit" class="btn btn-primary " type="button" >发表</button>
             </span>
               <span style="float:right"><a href="rules.html">社区积分规则</a></span>

           </form>



          <div class="height15"></div>
          <div>


          </div>
        
       </div> 
       
   </div>
<% include ./footer %>
