<% include ./header %>

<script type="text/javascript" src="/chao/ckeditor/ckeditor.js"></script>
   <div class="container">
     <p ><img src="/chao/img/hometb.gif"> <a href="index.html" class="font12"> 首页</a>-><a href="bbs.html" class="font12">社区</a>-><a href="post.html" class="font12">发帖</a></p>
        <p> <img src="/chao/img/jzgs.gif"></p>
        
   
   <div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">发帖</a></li>
   
  </ul>
  </div>
   <div class="height15"></div>
       <div style="width:920px;">
           <form id="myForm" action="/bbs/new" method="post" >
               <input name="model" type="hidden" value="Post">
               <input id="category" name="category" type="hidden" value="<%=category%>">
               <div class="form-group">
                   <label for="exampleInputTitle">文章标题</label>
                   <input name="title" type="text" class="form-control" id="exampleInputTitle" placeholder="请输入文章标题" required="true">
               </div>
               <div class="form-group">
                   <label for="TextArea1">文章内容</label>

                   <textarea name="content" id="TextArea1"  class="ckeditor"></textarea>
                   <script type="text/javascript">
                       CKEDITOR.replace('TextArea1');</script>
               </div>
               <div class="form-group">
                   <label for="files">上传图片</label>
                   <input  type="file" id="files">
                   <p class="help-block">支持jpg jpeg png格式图片.</p>
                   <div id="img-box">

                   </div>
                   <!-- The global progress bar -->
                   <div id="progress" class="progress">
                       <div class="progress-bar progress-bar-success"></div>
                   </div>
               </div>

               <span style="float:left"> <button type="submit" class="btn btn-primary " type="button" >发表</button>
             </span>
               <span style="float:right"><a href="rules.html">社区积分规则</a></span>

           </form>



          <div class="height15"></div>
          <div>


          </div>
        
       </div> 
       
   </div>


<% include ./footer %>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/jqu/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/jqu/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/jqu/js/jquery.fileupload.js"></script>

<script>

////    Change this to the location of your server-side upload handler:
        var url = window.location.hostname === 'localhost' ?
                    '//localhost:3000/upload/posts' : 'upload/posts/';
    var sendData= true;
    $('#files').fileupload({
        url: url,
        dataType : 'json',
        autoUpload : false,
        add : function(e,data){
            $("#myForm button").on("click",function(e){
//
                    e.preventDefault();
                    if(sendData){
                        $("#myForm").attr('action', 'upload/posts');
                        $("#TextArea1").val(CKEDITOR.instances.TextArea1.getData());
                        data.formData = $("#myForm").serializeArray();
                        sendData = false;
                    }
                    $("#myForm button").addClass('disabled');
                    data.submit();
//
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        },

        done: function(e,data){
            sendData = true;
            var category = $('#category').val();
            var url = window.location.hostname === 'localhost' ?
                    '//localhost:3000/bbs/list/'+ category : 'bbs/list/'+ category;
            window.location.replace(url);
        }
    })
</script>

<script>
    $( document ).ready(function() {
        /*
         *  browser upload img
         * */
        function browser_check() {
            if (window.File && window.FileReader && window.FileList &&
                    window.Blob) {
                //All the File APIs are supported.
            } else {
                alert('当前网页浏览器版本过低，请下载新版浏览器。建议使用新版google浏览器或火狐浏览器。');
            }
        }

        browser_check();


        function handleFileSelect(evt) {

            $('#img-box').empty();
            var files = evt.target.files;

            //loop throuth the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                //only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }


                var reader = new FileReader();

                //closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        //Render thumbnail.
                        var thumb = ['<img width="210" class="img-thumbnail"  src="',
                            e.target.result,
                            '" title="', escape(theFile.name),
                            '"/>'].join('');
                        $('#img-box').append(thumb);

                    };
                })(f);

                //read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change',
                handleFileSelect, false);

    });
</script>
