<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link href="/chao/css/css.css"  rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/chao/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body >

<!-- Fixed navbar -->
<nav class="navbar-default navbar-fixed-top top ">
    <div class="container top"  >
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand litop" href="index.html">LOGO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="litop" ><a href="index.html"><img src="/chao/img/home.gif">   首页</a></li>
                <li class="litop"><a href="bbs.html"><img src="/chao/img/green_pixel_95.gif">  社区</a></li>
                <li class="litop"><a href="bag.html"><img src="/chao/img/green_pixel_xin.gif">   宝石袋</a></li>

            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group  lisearch">
                    <input type="text" class="form-control" placeholder="搜索感兴趣的内容">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register.html"> <button type="submit" class="btn btn-sm  topdl" >注册</button></a></li>
                <li><a href="login.html"> <button type="submit" class="btn btn-sm topzc">登陆</button></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--  top    top   top   -->