<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link href="/chao/css/css.css"  rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/chao/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="scroll">
            <% rubies.forEach( function(ruby) { %>
            <img width="100" src="<%=ruby.thumbnail_url%>" alt="..." class="img-thumbnail"> <br>
            <% }) %>
        </div>
        <div class="nav">
            <% if(paginate.hasNextPages(pageCount)) { %>
            <a href="<%= paginate.href()%>">next</a>
            <% } %>
        </div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/chao/js/bootstrap.min.js"></script>
    <script src="/waterfall/jquery.infinitescroll.min.js"></script>
<script>
    // infinitescroll() is called on the element that surrounds
    // the items you will be loading more of
    $('.container').infinitescroll({

        navSelector  : "div.nav",
        // selector for the paged navigation (it will be hidden)
        nextSelector : "div.nav a:first",
        // selector for the NEXT link (to page 2)
        itemSelector : ".container div.scroll"
        // selector for all items you'll retrieve
    });
</script>
</body>
</html>